:root{

    /*Color Scheme*/
    --Primary:#6100e9;
    --Primary-light: #995df0;
    --Primary-extra-light:#efe4fc;
    --Primary-dark:#0800d1;
    --Secondary:#d600e9;
    --Secondary-light:#e988f1;
    --Secondary-extra-light:#fae3fb;
    --Secondary-dark:#a200db;
    --Danger:#ee008d;
    --Danger-light:#f183be;
    --Danger-dark:#b10068;
    --Warning:#ee5f14;
    --Warning-light:#ff8e1f;
    --Warning-extra-light:#fff2e0;
    --Warning-dark:#e5410f;
    --Success:#90f138;
    --Success-light:#c6f894;
    --Success-extra-light:#f2fee5;
    --Success-dark:#08b226;
    --Gray:#595959;
    --Gray-light:#767676;
    --Gray-extra-light:#e0e0e0;
    --Gray-dark:#272727;
    --White:#fffff;
    --Primary-gradient:linear-gradient(180deg, #efe4fc 0%, rgba(239,228,252,0)100%);
    --Primary-gradient-rev:linear-gradient(180deg, rgba(239,228,252,0)0%,#efe4fc 100%);

    /*Fonts*/
    --font-size-h1:6rem;
    --font-size-h2:3.75rem;
    --font-size-h3:3rem;
    --font-size-h4:2.125rem;
    --font-size-h5:1.5rem;
    --font-size-h6:1.25rem;
    --font-size-body-small:0.875rem;
    --font-size-button:0.875rem;
}